@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap");

* {
  font-family: Rubik, sans-serif;
}

body {
  background-image: url("../../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.btn-dark:hover {
  background-color: #0e1011 !important;
  border-color: #111315 !important;
}

.export:hover {
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25),
    0 10px 10px rgba(255, 255, 255, 0.123) !important;
}
